**Exercise 2: Create markdown cell with title of the notebook**

# Data Science Tools and Ecosystem

**Exercise 3 - Create a markdown cell for an introduction**

*In this notebook, Data Science Tools and Ecosystem are summarized.*

**Objectives:**

* List popular languages for Data Science;
* List popular libraries for Data Science;
* List popular tools for Data Science;
* Examples of evaluating arithmetic expressions in Python.

**Exercise 4 - Create a markdown cell to list data science languages**

*Some of the popular languages that Data Scientists use are:*

1. Scala
2. R
3. Java
4. Python
5. SQL
6. C++
7. Ruby
8. Julia
9. JavaScript

**Exercise 5 - Create a markdown cell to list data science libraries**

*Some of the commonly used libraries used by Data Scientists include:*

1. **Python libraries:** Pandas, NumPy, Matplotlib, Seaborn, Scikit-learn, TensorFlow, Keras, PyTorch, SciPy, etc.
2. **R libraries:** ggplot2, dplyr, tidyr, caret, shiny, etc.
3. **SQL tools:** MySQL, PostgreSQL, etc.
4. **Scala libraries:** Apache Spark, Breeze, etc.
5. **Java libraries:** Weka, Deeplearning4j, etc.

**Exercise 6 - Create a markdown cell with a table of Data Science tools**

|Data Science Tools|
--------------------
|Hadoop File System|
|Apache Spark|
|Apache Kafka|
|Apache Cassandra|
|SQL Databases|
|NoSQL Databases|
|Hue|
|Kibana|
|TensorFlow service|
|Jupyter Notebook|
|RStudio|
|Google Colab|
|Tableau|
|Power BI|
|Git|
|GitHub/GitLab/Bitbucket|

**Exercise 7 - Create a markdown cell introducing arithmetic expression examples**

### *Below are a few examples of evaluating arithmetic expressions in Python:*

# *Addition*
result_add = 10 + 5

print("10 + 5 =", result_add)

### *Subtraction*
result_subtract = 100 - 1

print("100 - 1 =", result_subtract)

### *Multiplication*
result_multiply = 40 * 11

print("40 * 11 =", result_multiply)

### *Division*
result_divide = 55 / 5

print("55 / 5 =", result_divide)

### *Exponentiation*
result_exponent = 2 ** 3

print("2 ** 3 =", result_exponent)

### *Modulus*
result_modulus = 10 % 3

print("10 % 3 =", result_modulus)

**Exercise 8 - Create a code cell to multiply and add numbers**

This is a simple arithmetic expression used to multiply and add integers.

In [2]:
x=(3*4)+5
print (x)

17

**Exercise 9 - Create a code cell to convert minutes to hours**

In [6]:
def convert_minutes_to_hours(minutes):
    hours = minutes / 60
    return hours

minutes = 120
hours = convert_minutes_to_hours(minutes)
print(f"{minutes} minutes is equal to {hours} hours")

120 minutes is equal to 2.0 hours

**Exercise 10 - Insert a markdown cell to list Objectives**

**Exercise 11 - Create a markdown cell to indicate the Author's name**

## **Author**
*Judy Tatiana Sarmiento*

**Exercise 12 - Share your notebook through GitHub**

**Exercise 13 -Take a screenshot**